<h3>Find legislator contact information!</h3>
<form>
  <label for="zipcode">Zipcode: </label>
  {{input value=zipcode id="zipcode"}}<br>
  <button {{action "zipcodeLookup"}}>Get contact info</button>
</form>
