<h1>Congree API Calls</h1>
{{#link-to "index"}}Home{{/link-to}}
{{#link-to "committees" 1}}Committees{{/link-to}}
{{#link-to "bills" 1}}Bills{{/link-to}}
<hr>
{{outlet}}

<h4>&copy; 2016 Congress API Calls</h4>
